@import '../variables';
@import '../mixins';


.container {
    width: calc(100% - 2rem);
    height: 13rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $productBgColor;
    @include cartBoxShadow();
    border-radius: 1rem;
    padding: 1rem;

    .buttons {
        display: flex;
        width: 6rem;
        height: inherit;
        align-items: center;
        // padding-bottom: 6rem;
        
        justify-content: space-between;

        button {
            width: 3rem;
            height: 3rem;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background:none;

            img {
                width: 1.2rem !important;
                height: 3rem;
                padding-top: 5px;
            }


        }
    }



}
img {
    height: fit-content;
    margin: 0 1rem;
}

.price {
    color: $productPriceColor;
}

.spanaBtn {
    display: flex;
    flex-direction: column;
    height: 5.5rem;
    width: inherit;
    align-items: center;
    justify-content: space-between;

    .plus {
        color:  $productPriceColor;
    }

    .minus {
        color: $aColor;
        display: flex;
        align-items: center;
        padding-bottom: 14px;
    }

    span {
        font-size: 2rem;
        color: blue;
    }
}

@media (min-width: 590px) {
    .trashimg {
        width: 10rem !important;
        margin-right: 3rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .price {
        font-size: 2rem;
    }

    .quantity {
        font-size: 4rem !important;
        // margin-bottom: 2rem !important;
    }


    .spanaBtn {
        height: 8rem;

        button {
            // height: 4rem !important;

            img {
                
            }

        }
        
    .plus {
        font-size: 5rem !important;
    }

    .minus {
        font-size: 6rem !important;
    }
    }

}