@import "../variables";
@import "../mixins";

* {
   // outline: 1px red solid;
}

.container {
   width: 130px;
   height: 230px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   margin: 8px;
   background-color: white;
   @include cartBoxShadow();
   border-radius: 10px;
}
.labelContainer {
   // border-top: 1px solid silver;
   width: 100%;
   height: 40px;
   padding: 7px 0;
   text-align: center;

   h2 {
      width: 100%;
      font-size: 0.875rem;
      padding-bottom: 5px;
      margin-bottom: 8px;
   }

   p {
      border-top: 1px solid green;
      border-bottom: 1px solid green;
      font-size: 1rem;
      padding: 5px 0;
      border-radius: 3px;
      color: $productPriceColor;
   }
}

.imageContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   height: 100px;
   margin-bottom: 10px;
   img {
      // padding-top: 10px;
      padding: 1rem;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
   }
}

.bottomContainer {
   display: flex;
   align-items: center;
   width: calc(100% - 3rem);
   height: 3.2rem;
   width: inherit;
   justify-content: space-between;
   margin-top: 1.5rem;
   // gap: 1rem;


   .aContainer {
      height: 3.2rem;
      display: flex;
      align-items: center;
      a {
         text-decoration: none;
         color: $aColor;
         font-size: 1rem;
         transition: all 0.2s ease-in;
         // padding-right: 10px;

         &:hover {
            color: #c0392b;
         }
      }
   }
   .buttonContainer {
      display: flex;
      align-items: center;

      .remove,
      .increase,
      .decrease {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 1.2rem;
         background: none;
      }

      .decrease,
      .increase {
         img {
            width: 15px;
         }
      }

      span {
         margin: 0 10px;
      }

      .remove {
         img {
            width: 12px;
         }
      }

      button {
         border: none;
         cursor: pointer;
      }
      .bigButton {
         background: $productButtonColor;
         color: $productBgColor;
         text-align: center;
         width: 4.5rem;
         height: 1.3rem;
         border-radius: 10px;
         @include productButtonShadow();
         transition: all 0.1s ease-in;

         &:hover {
            background-color: #3498db;
         }
      }
   }
}

@media (min-width: 426px) {
   .container {
      width: 180px;
      height: 350px;
   }

   .imageContainer {
      height: 150px;
      img {
         width: 120px;
      }
   }
   .labelContainer {
      h2 {
         font-size: 1.5rem;
      }

      p {
         font-size: 2rem;
      }
   }

   .bottomContainer {
      width: calc(100% - 1rem);
      margin-top: 5.5rem;
      padding: 0 1rem;

      span {
         font-size: 1.3rem !important;
      }

      a {
         font-size: 1.2rem !important;
      }
      .buttonContainer {
         .remove {
            display: flex;
            align-items: center;
            img {
               width: 16px;
            }
         }
         .increase {
            img {
               width: 45px !important;
            }
         }
      }

      .bigButton {
         font-size: 1rem;
         width: 5rem !important;
         height: 2rem !important;
         border-radius: 1.5rem !important;
      }
   }
}

@media (min-width: 769px) {
   .container {
      width: 330px;
      height: 420px;
   }

   .imageContainer {
      height: 180px;
      img {
         width: 150px;
      }
   }
   .labelContainer {
      h2 {
         font-size: 2rem;
      }
      p {
         font-size: 2.2rem;
      }
   }

   .bottomContainer {
      // margin-top: 6rem;
      width: calc(100% - 3rem);
      height: 6rem;
      padding: 0 2rem;

      .aContainer {
         height: inherit;

         a {
            font-size: 1.8rem !important;
         }
      }

      .buttonContainer {
         height: inherit;
         // width: inherit;
         .decrease,
         .increase {
            img {
               width: 35px;
               height: 35px;
            }
         }

         .remove {
            img {
               width: 25px;
               height: 40px;
            }
         }

         span {
            font-size: 1.8rem !important;
            margin: 0 1rem;
         }

         .addContainer {

            .bigButton {
               // padding: 1px;
               font-size: 1.8rem;
               width: 9rem !important;
               height: 3rem !important;
               border-radius: 2rem;
            }
         }

      }
   }
}
